body {
    font-family: Verdana, Helvetica, sans-serif;
    background: #c5d1d7;
}

.Container {
    width: 800px;
    margin: 0 auto; 
}

html, body, div {margin:0px; padding:0px; }
	
canvas {display: block}
