body {
    font-family: Verdana, Helvetica, sans-serif;
    background: #c5d1d7;
}

.Container {
    width: 800px;
    margin: 0 auto; 
}

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

/*Header*/
	#Main {
    background: url(images/Main/header_slice.jpg) repeat-x; 
	}

	#Logo {
		background: url(images/Main/Logo_Website.png) no-repeat;
		height: 151px;
		width: 151px;
		float: left;
	}

	#Logo h2 {
		text-indent: -9999px;
	}
 
	#Header {
		padding-top: 25px; 
	}

	#Title {
		float: left;
		padding-top: 30px;
		padding-left: 46px; 
	}

	#Title h1 {font-size: 66px; color: #000000; }

 
	ul#NavigationBar li a {
		font-size: 22px;
		color: #d2d2d2;  /*#ebe8e8*/
		text-decoration: none; 
	}
	
	ul#NavigationBar li {	
		float: left;
		padding-left: 45px;
		padding-right: 45px;
		padding-bottom: 0px;
	}

	ul#NavigationBar {
		list-style: none;
		padding-left:12px;
		padding-top: 12px;
		padding-bottom: 22px;
	}

	
	#NavigationBar h3 {
		font-size: 22px;
		color: #ffffff;
		font-weight: normal; 
		text-align: center;

	}

/*Body (General)*/
	.Content h2 {
		text-align: center;
		font-size: 36px;
		color: #000000; 
		Padding-top: 22px;
		Padding-bottom: 22px
	}
 
	.Content h3 { /*Sub-Heading*/
		text-align: center;
		font-size: 22px;
		color: #373737;
	}
 
	.Content h4 {
		font-size: 22px;
		color: #373737;
		font-weight: normal; 
		text-align: center;
		padding-bottom: 22px;
	}
 
	.Content p {
		font-size: 16px;
		color: #595858; 
		text-align: center;
	}
 
	.Content small {
		font-size: 12px;
		color: #373737; 
	}
 
	.Content a {
		color: #0f6c8d;
		font-weight: bold;
		text-decoration: none; 
	}
	
	.dark {
		background: #b8c2c8;
		padding-bottom:22px;
	}
	
	.light {
		background: #c5d1d7;
		padding-bottom:22px;
	}
	
	.tab {
		color: #c5d1d7;
	}


/*Footer*/
	#Footer {
		background: #000000;
		padding-top: 22px;
		padding-bottom:50px;
		margin-top: 0px;
		color: #fff; 
	}

/*Index page*/
	#IDpic {
		background: url(images/Index/IDpic_indoors.jpg) no-repeat;
		height: 427px;
		width: 320px;
		float: left; 
		padding-bottom: 22px;
	}

	#IDpic span {
		display: none;
	}	

	#About_Me p {
		padding-left: 342px;
		text-align: left;
		padding-bottom: 22px;
	}
	
	#Contact_Me h4 {
		text-align: left;
	}

	ul#Contacts {
		list-style: none;
		padding-left: 250px;
		padding-bottom: 0px;
	}

	ul#Contacts li {
		padding-top: 33px;
		padding-bottom: 33px;
		padding-left: 100px;
	}

	#Email {
		background: url(images/Index/Email_Icon.png) no-repeat; 
	}

	#Phone {
		background: url(images/Index/Phone_Icon.png) no-repeat;
	}

	#Address {
		background: url(images/Index/Home_Icon.png) no-repeat;
	}
	
	#Discord {
		background: url(images/Index/Discord_Icon.png) no-repeat;
	}
	

/*Portfolio Page*/
	ul#Projects {
		list-style: none;
	}
	
	ul#Projects li {
		float: left;
		padding-right: 22px;
		padding-left: 22px;
		padding-bottom: 44px;
	}

	#Footer_PortfolioPage {
		background: #000000;
		padding-top: 22px;
		padding-bottom:50px;
		margin-top: 44px;
		color: #fff;
	}





/*Folder Pages*/
	ul#PosterList {
		list-style: none;
	}
	
	ul#PosterList li {
		float: left;
		padding-right: 22px;
		padding-left: 22px;
		padding-bottom: 44px;
	}

	ul#GameList {
		list-style: none;
	}
	
	ul#GameList li {
		float: left;
		padding-right: 22px;
		padding-left: 22px;
		padding-bottom: 44px;
	}

	ul#ResearchList {
		list-style: none;
	}
	
	ul#ResearchList li {
		float: left;
		padding-right: 22px;
		padding-left: 22px;
		padding-bottom: 44px;
	}
	
	ul#SketchList {
		list-style: none;
	}
	
	ul#SketchList li {
		float: left;
		padding-right: 22px;
		padding-left: 22px;
		padding-bottom: 44px;
	}
	
/*Campaign Trail Page*/
	#CampaignTrailOverview h4 {
		text-align: left;
	}
	
/*Fantasy Football Page*/
	#FFOverview h4 {
		text-align: left;
	}
	
	ul#SchemeList {
		list-style: none;
	}
	
	ul#SchemeList li{
		float: left;
		padding-right: 22px;
		padding-left: 22px;
		padding-bottom: 44px;
	}
	
/*PowerTool Page*/
	#PowerToolExtensionFloat {
		padding-bottom: 22px;
	}
		
	#PowerToolExtensionFloat img{
		padding-left: 17px;
	}
	
/*Poster Pages*/
		
	#MicroFinancePoster {
		padding-bottom: 22px;
	}
	
	#iCBLPoster {
		padding-bottom: 22px;
	}
	
	#GeminiPoster {
		padding-bottom: 22px;
	}
	
/*Reflection Pages*/

	#reflectionparagraph {
		text-align: left;
	}
	
/*for StickFigureBoxing V2*/
	canvas {
 		display: block;
	}

/*Make sure Links go to a different tab   (target="_blank")  */